In [ ]:
# 20 Python Data Structure Manipulation Exercises

# The following questions reference the students data structure below. 
# Write the python code to answer the following questions:








# How many students are in web development? data science?
# What is the average number of pets for students in web development?
# What is the average pet age for students in data science?
# What is most frequent coffee preference for data science students?
# What is the least frequent coffee preference for web development students?
# What is the average grade for students with at least 2 pets?
# How many students have 3 pets?
# What is the average grade for students with 0 pets?
# What is the average grade for web development students? data science students?
# What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?
# What is the average number of pets for medium coffee drinkers?
# What is the most common type of pet for web development students?
# What is the average name length?
# What is the highest pet age for light coffee drinkers?

In [59]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [5]:
# How many students are there
print('there are', len(students), 'students')

there are 14 students

In [12]:
# How many students prefer light coffee? For each type of coffee roast?
count = 0
for i in students:
    if i["coffee_preference"] == 'light':
        count +=1
print('there are', count, 'students that like light coffee')

there are 3 students that like light coffee

In [69]:
# How many types of each pet are there?
        
pet_count = {'cat':0, 'dog':0, 'horse':0}
the_list_of_species = []
for i in students:
    for j in i['pets']:
        the_list_of_species.append(j['species'])


for y in the_list_of_species:
    if y == 'horse':
        pet_count['horse'] += 1
    elif y == 'cat':
        pet_count['cat'] += 1
    elif y == 'dog':
        pet_count['dog'] += 1
        
print('there are 3 types of pets')
print('there are', pet_count['horse'], 'horses\n'
      'there are', pet_count['cat'], 'cats\n'
      'there are', pet_count['dog'], 'dogs\n'
     )

there are 3 types of pets
there are 4 horses
there are 11 cats
there are 3 dogs

In [41]:
# How many grades does each student have? 
# Do they all have the same number of grades?
the_count_of_grades = []
grades = []
the_same_length = True
for i in students:
    for j in i["grades"]:
        grades.append(j)
    the_count_of_grades.append(grades)
    grades = []  
for l in the_count_of_grades:
    print(l)
    if len(l) != 4:
        the_same_length = False
        print(l,'Some students have more or less than 3 grades')
        
### the amount of grades per student in 4



## yes they all have the same number of grades

[70, 91, 82, 71]
[75, 73, 86, 100]
[70, 89, 69, 65]
[73, 66, 83, 92]
[78, 98, 85, 65]
[76, 70, 96, 81]
[69, 94, 89, 86]
[87, 79, 90, 99]
[74, 99, 93, 89]
[82, 92, 91, 65]
[70, 92, 65, 99]
[100, 86, 91, 87]
[80, 70, 68, 98]
[73, 99, 86, 98]

In [67]:
# What is each student's grade average?
student_average_dict = {}
count = 0
student_average = 0

for i in students:
    for j in i['grades']:
        student_average += j
        count += 1
        
    student_average_dict[i["student"]] = round(student_average / count, 2)
    
    count  = 0
    student_average = 0
    

for i in student_average_dict:
    print('student name:', i, '\nstudent average:', student_average_dict[i] , '\n')

student name: Ada Lovelace
student average: 78.5

student name: Thomas Bayes
student average: 83.5

student name: Marie Curie
student average: 73.25

student name: Grace Hopper
student average: 78.5

student name: Alan Turing
student average: 81.5

student name: Rosalind Franklin
student average: 80.75

student name: Elizabeth Blackwell
student average: 84.5

student name: Rene Descartes
student average: 88.75

student name: Ahmed Zewail
student average: 88.75

student name: Chien-Shiung Wu
student average: 82.5

student name: William Sanford Nye
student average: 81.5

student name: Carl Sagan
student average: 91.0

student name: Jane Goodall
student average: 79.0

student name: Richard Feynman
student average: 89.0

In [80]:
# How many pets does each student have?
the_students_pets = {}
list_of_pets = []


for i in students:
    for j in i['pets']:
        list_of_pets.append(j["species"])
        
    the_students_pets[i["student"]] = list_of_pets 
    list_of_pets = []
print(the_students_pets)

{'Ada Lovelace': ['horse'], 'Thomas Bayes': [], 'Marie Curie': ['cat'], 'Grace Hopper': ['dog', 'cat'], 'Alan Turing': ['horse', 'horse', 'dog'], 'Rosalind Franklin': [], 'Elizabeth Blackwell': ['cat'], 'Rene Descartes': ['cat', 'cat'], 'Ahmed Zewail': ['cat', 'cat'], 'Chien-Shiung Wu': ['cat'], 'William Sanford Nye': ['cat', 'cat'], 'Carl Sagan': ['cat'], 'Jane Goodall': ['horse'], 'Richard Feynman': ['dog']}