In [ ]:
# 20 Python Data Structure Manipulation Exercises

# The following questions reference the students data structure below. 
# Write the python code to answer the following questions:

















# What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?
# What is the average number of pets for medium coffee drinkers?
# What is the most common type of pet for web development students?
# What is the average name length?
# What is the highest pet age for light coffee drinkers?

In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [5]:
# How many students are there
print('there are', len(students), 'students')

there are 14 students

In [12]:
# How many students prefer light coffee? For each type of coffee roast?
count = 0
for i in students:
    if i["coffee_preference"] == 'light':
        count +=1
print('there are', count, 'students that like light coffee')

there are 3 students that like light coffee

In [69]:
# How many types of each pet are there?
        
pet_count = {'cat':0, 'dog':0, 'horse':0}
the_list_of_species = []
for i in students:
    for j in i['pets']:
        the_list_of_species.append(j['species'])


for y in the_list_of_species:
    if y == 'horse':
        pet_count['horse'] += 1
    elif y == 'cat':
        pet_count['cat'] += 1
    elif y == 'dog':
        pet_count['dog'] += 1
        
print('there are 3 types of pets')
print('there are', pet_count['horse'], 'horses\n'
      'there are', pet_count['cat'], 'cats\n'
      'there are', pet_count['dog'], 'dogs\n'
     )

there are 3 types of pets
there are 4 horses
there are 11 cats
there are 3 dogs

In [41]:
# How many grades does each student have? 
# Do they all have the same number of grades?
the_count_of_grades = []
grades = []
the_same_length = True
for i in students:
    for j in i["grades"]:
        grades.append(j)
    the_count_of_grades.append(grades)
    grades = []  
for l in the_count_of_grades:
    print(l)
    if len(l) != 4:
        the_same_length = False
        print(l,'Some students have more or less than 3 grades')
        
### the amount of grades per student in 4



## yes they all have the same number of grades

[70, 91, 82, 71]
[75, 73, 86, 100]
[70, 89, 69, 65]
[73, 66, 83, 92]
[78, 98, 85, 65]
[76, 70, 96, 81]
[69, 94, 89, 86]
[87, 79, 90, 99]
[74, 99, 93, 89]
[82, 92, 91, 65]
[70, 92, 65, 99]
[100, 86, 91, 87]
[80, 70, 68, 98]
[73, 99, 86, 98]

In [67]:
# What is each student's grade average?
student_average_dict = {}
count = 0
student_average = 0

for i in students:
    for j in i['grades']:
        student_average += j
        count += 1
        
    student_average_dict[i["student"]] = round(student_average / count, 2)
    
    count  = 0
    student_average = 0
    

for i in student_average_dict:
    print('student name:', i, '\nstudent average:', student_average_dict[i] , '\n')

student name: Ada Lovelace
student average: 78.5

student name: Thomas Bayes
student average: 83.5

student name: Marie Curie
student average: 73.25

student name: Grace Hopper
student average: 78.5

student name: Alan Turing
student average: 81.5

student name: Rosalind Franklin
student average: 80.75

student name: Elizabeth Blackwell
student average: 84.5

student name: Rene Descartes
student average: 88.75

student name: Ahmed Zewail
student average: 88.75

student name: Chien-Shiung Wu
student average: 82.5

student name: William Sanford Nye
student average: 81.5

student name: Carl Sagan
student average: 91.0

student name: Jane Goodall
student average: 79.0

student name: Richard Feynman
student average: 89.0

In [10]:
# How many pets does each student have?
the_students_pets = {}
list_of_pets = []
number_pets_dict = {}

for i in students:
    for j in i['pets']:
        list_of_pets.append(j["species"])
    
        
    the_students_pets[i["student"]] = list_of_pets 
    list_of_pets = []
    
for name,pet_list in the_students_pets.items():
    number_pets_dict[name] = len(pet_list)
    
    
    


for name, pet_number in number_pets_dict.items():
    print('the student', name, 'has', pet_number, 'pet(s)\n\n')

the student Ada Lovelace has 1 pet(s)


the student Thomas Bayes has 0 pet(s)


the student Marie Curie has 1 pet(s)


the student Grace Hopper has 2 pet(s)


the student Alan Turing has 3 pet(s)


the student Rosalind Franklin has 0 pet(s)


the student Elizabeth Blackwell has 1 pet(s)


the student Rene Descartes has 2 pet(s)


the student Ahmed Zewail has 2 pet(s)


the student Chien-Shiung Wu has 1 pet(s)


the student William Sanford Nye has 2 pet(s)


the student Carl Sagan has 1 pet(s)


the student Jane Goodall has 1 pet(s)


the student Richard Feynman has 1 pet(s)

In [21]:
# How many students are in web development? data science?
the_dict = {'web development':0, 'data science':0}
for i in students:
   
    if i["course"] == 'web development':
        the_dict['web development'] +=1
    elif i["course"] == 'data science':
        the_dict['data science'] +=1
        
        
print('there are', the_dict['web development'], 'students in web development\nand',
      the_dict['web development'],'students in data science')

there are 7 students in web development
and 7 students in data science

In [32]:
# What is the average number of pets for students in web development?

web_total_students = 0
data_total_students = 0
total_pets_web = 0
total_pets_data = 0
web_student_list = []

for i in students:
    if i["course"] == 'web development':
        web_student_list.append(i['student'])
        web_total_students +=1
        total_pets_web += number_pets_dict[i['student']]
    elif i["course"] == 'data science':
        data_total_students +=1
        total_pets_data += number_pets_dict[i['student']]
        
print('the average number of pets for students in web development is', round(total_pets_web / web_total_students,2))

the average number of pets for students in web development is 1.29

In [60]:
# What is the average pet age for students in data science?
pet_age = 0
count = 0
for i in students:
    if i["course"] == 'data science':
        for j in i["pets"]:
            
            count += 1
            pet_age += j['age']
print('The average pet age for students in data science is', round(pet_age / count,2))

The average pet age for students in data science is 5.44

In [78]:
# What is most frequent coffee preference for data science students?
the_dict_for_coffee = {'medium':0,'dark':0}


for i in students:
    if i["course"] == 'data science':
        the_dict_for_coffee[i["coffee_preference"]] +=1
print(the_dict_for_coffee)

print('the most frequent coffee preference is medium at 4 students')

{'medium': 4, 'dark': 3}
the most frequent coffee preference is medium at 4 students

In [81]:
# What is the least frequent coffee preference for web development students?
the_dict_for_coffee = {'medium':0,'dark':0,"light":0}


for i in students:
    if i["course"] == 'web development':
        the_dict_for_coffee[i["coffee_preference"]] +=1
print(the_dict_for_coffee)

print('the tie for least frequent coffee preference is medium and dark coffee')

{'medium': 2, 'dark': 2, 'light': 3}
the tie for least frequent coffee preference is medium and dark coffee

In [109]:
# What is the average grade for students with at least 2 pets?
grade_sum_list = []
student_amount = 0
total = 0
average_grade = 0
for i in students:
    if len(i["pets"]) >= 2:
        student_amount += 1
        for j in i["grades"]:
            total += j
            
        average_grade = total / 4
        
        grade_sum_list.append(average_grade)
        average_grade = 0
        total = 0


total = 0
print(grade_sum_list)
for i in grade_sum_list:
    total += i
    
print('the average grade for students with at least two pets is',total / len(grade_sum_list))

[78.5, 81.5, 88.75, 88.75, 81.5]
the average grade for students with at least two pets is 83.8

In [119]:
# How many students have 3 pets?
count = 0
for i in students:
    if len(i["pets"]) == 3:
        count+= 1
        
print('there is', count, 'student(s) that have three pets')

there is 1 student(s) that have three pets

In [120]:
# What is the average grade for students with 0 pets?

In [125]:
grade_sum_list = []
student_amount = 0
total = 0
average_grade = 0
for i in students:
    if len(i["pets"]) == 0:

        student_amount += 1
        for j in i["grades"]:
            total += j
            
        average_grade = total / 4
        
        grade_sum_list.append(average_grade)
        average_grade = 0
        total = 0


total = 0
print(grade_sum_list)
for i in grade_sum_list:
    total += i
    
print('the average grade for students with zero pets is',total / len(grade_sum_list))

[83.5, 80.75]
the average grade for students with zero pets is 82.125

In [131]:
# What is the average grade for web development students? data science students?
total = 0
avg_single_student = 0
the_list_of_averages_web_dev = []
for i in students:
    if i['course'] == 'web development':
        for j in i["grades"]:
            total += j
        
        the_list_of_averages_web_dev.append(total / len(i["grades"]))
        total = 0
        avg_single_student = 0
print(the_list_of_averages_web_dev)
#######finish me

[78.5, 73.25, 81.5, 84.5, 82.5, 79.0, 89.0]